* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* common styles */


.work-sans-font,
body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.btn {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    font-weight: 600;
    cursor: pointer;
}

.primary-bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}


p,
.dark-3 {
    /* dark-3 */
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    margin-top: 20px;
}

.hide {
    display: none;
}

/* header nav styles */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-list a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 730px;
    width: 100%;
    margin: 80px auto;
    margin-bottom: 60px;
    text-align: center;
}

.banner-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner-image img {
    width: 100%;
    margin-bottom: 40px;
}

/* quick list section styles */
.quick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 85px auto;
    gap: 50px;
}

.quick-list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.quick-list-content {
    max-width: 450px;
}

.quick-list-content span {
    font-size: 2.8rem;
    font-weight: bold;
}

#quick-list {
    font-weight: 500;
}

#features {
    color: rgba(255, 144, 14, 1);
}

/* love features styles */

.love-features {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
}

.love-features-content {
    max-width: 500px;
    width: 100%;
}

.primary-card {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.primary-card .card-content h3 {
    font-size: 20px;
    font-weight: 600;
}

.love-features-title {
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    margin-top: 40px;
    border-left: 5px solid #FF900E;
}

.love-features-image {
    max-width: 650px;
}

.love-features-image img {
    width: 100%;
}

.love-features-image button {
    margin-left: -100px;
    margin-top: -100px;
    margin-bottom: 120px;
    max-width: 280px;
    max-height: 150px;
    width: 100%;
    height: 100%;
}

.love-features-image button h4 {
    font-size: 3.5rem;
    font-weight: bold;
}

.love-features-image button h5 {
    font-size: 1rem;
    font-weight: 500;
}

/* some facts section styles */
.some-facts-card {
    display: flex;
    justify-content: space-around;
    margin: 80px auto;

}

.some-facts-content {
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.some-facts-card .secondary-card {
    border: 2px solid #FF900E;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    max-width: 230px;
    width: 100%;
}

.secondary-card h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 5px;
}

/* sponsors section styles */
.sponsors-content {
    text-align: center;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.sponsors-content h1 {
    font-size: 2rem;
    font-weight: bold;
}

.sponsors-images {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    filter: grayscale(100%);
}

/* footer section styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    margin-top: 50px;
}

/* responsive media query */
/* small screen  */
@media screen and (max-width:576px) {

    nav,
    .header-list,
    .quick-list,
    .love-features,
    .some-facts-card,
    .sponsors-images {
        flex-direction: column;
        gap: 20px;

    }

    .header-title {
        text-align: center;
    }

    .quick-list-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-content {
        margin: 20px;
    }

    .love-features-image button {
        margin-top: 20px;
        margin-left: 20px;
    }

    .some-facts-card {
        align-items: center;
    }

    .sponsors-images img{
        max-width: 200px;
        width: 100%;
        margin: 10px auto;
    }
}

/* medium screen */
@media screen and (min-width:576px) and (max-width:992) {}